In [1]:
import pandas as pd
courses = pd.read_csv('courses_r.csv')

In [2]:
courses.dept_abbrev = courses.dept_abbrev.apply(str.strip)

In [29]:
dept_content = pd.read_csv('depts_contents.csv')
dept_content = dept_content.drop_duplicates('dept_abbrev')

In [4]:
para = dept_content.contents[0].split("</p>")[0]

In [24]:
import re
def getBold(para):
    try:
        return para.split('</b>')[0].split('<b>')[1].strip()
    except:
        return ""

def getDesc(para):
    try:
        return para.split('<br/>')[1].strip()
    except:
        return ""

def getTitle(bold):
    try:
        return re.split('\d+', bold.split('(')[0])[1].strip()
    except:
        return ""
    

def getDept(bold):
    try:
        return re.split('\d+', bold.split('(')[0])[0].strip()
    except:
        return ""
    
    
def getCourseNum(bold):
    try:
        return (int)(re.findall('\d+', bold)[0].strip())
    except:
        return -1

def getGenEd(bold):
    try:
        return [s.strip() for s in bold.split('(')[1].split(')')[1].split(',')]
    except:
        return []

def getCredits(bold):
    try:
        return (int)(bold.split('(')[1].split(')')[0][0])
    except:
        return -1

In [6]:
bold = getBold(para)

In [7]:
getDesc(para)

'History, culture, religion, institutions, politics, economics, arts, and psychology of peoples of African descent as developed from experience in both the old and new worlds. Multidisciplinary analysis of social life from a black perspective as illustrated in selected historical and contemporary writings.'

In [8]:
getTitle(bold)

'Introduction to African American Studies'

In [9]:
getDept(bold)

'AFRAM'

In [10]:
getCourseNum(bold)

101

In [13]:
getCredits(bold)

5

In [14]:
gened = getGenEd(bold)

In [15]:
dept_content.contents[0].split("</p>")[0]

'[<p><b>AFRAM 101 Introduction to African American Studies (5) I&amp;S, DIV</b><br/>History, culture, religion, institutions, politics, economics, arts, and psychology of peoples of African descent as developed from experience in both the old and new worlds. Multidisciplinary analysis of social life from a black perspective as illustrated in selected historical and contemporary writings.<br/><a href="https://uwstudent.washington.edu/course/#/courses/AFRAM101" target="_blank">View course details in MyPlan: AFRAM 101</a>'

In [132]:
para = dept_content.contents[0].split("</p>")[1]

In [133]:
import numpy as np
course_splits = np.array_split(courses, 4)

In [89]:
dept_content.dept_abbrev[0]

'AFRAM'

In [91]:
courses[courses['dept_abbrev'] == dept_content.dept_abbrev[0]]

       Unnamed: 0   index dept_abbrev  course_number  course_credits
54             54    1788       AFRAM            101             5.0
55             55    1826       AFRAM            150             5.0
56             56    1835       AFRAM            246             5.0
57             57    1837       AFRAM            318             5.0
58             58    1842       AFRAM            334             5.0
59             59    1857       AFRAM            337             5.0
60             60    1885       AFRAM            358             5.0
2737         2737   60468       AFRAM            214             5.0
2738         2738   60479       AFRAM            270             5.0
2739         2739   60499       AFRAM            340             5.0
4266         4266  117545       AFRAM            220             5.0
4267         4267  117576       AFRAM            272             5.0
4268         4268  117607       AFRAM            437             5.0
6582         6582  223435       AFRAM            498             3.0
7198         7198  264091       AFRAM            320             5.0
7199         7199  264109       AFRAM            350             5.0
7200         7200  264117       AFRAM            370             5.0
8607         8607  328370       AFRAM            260             5.0
9100         9100  348053       AFRAM            330             5.0
16302       16302  934370       AFRAM            499             1.0

In [104]:
f = []
for index, row in dept_content.iterrows():
    contents = row.contents.split("</p>")
    i = 0
    for content in contents[0:-1]:
        d = {}
        bold = getBold(content)
        desc = getDesc(content)
        title = getTitle(bold)
        num = getCourseNum(bold)
        gened = getGenEd(bold)
        dept = getDept(bold)
        credits = getCredits(bold)
        if(num != -1):
            d['_id'] = i
            d['dept_abbrev'] = dept
            d['course_number'] = num
            d['course_credits'] = credits
            d['desc'] = desc
            d['title'] = title
            d['QSR'] = str('QSR' in gened).lower()
            d['VLPA'] = str('VLPA' in gened).lower()
            d['INS'] = str('I&amp;S' in gened).lower()
            d['NW'] = str('NW' in gened).lower()
            d['W'] = str('W' in gened).lower()
            d['DIV'] = str('DIV' in gened).lower()
            i += 1
        f.append(d)

df = pd.DataFrame.from_dict(f)

In [100]:
import warnings
warnings.filterwarnings("ignore")

In [35]:
df.reset_index()

,index,DIV,INS,NW,QSR,VLPA,W,credits,dept,desc,number,title
0,0,True,True,False,False,False,False,5,AFRAM,"History, culture, religion, institutions, poli...",101,Introduction to African American Studies
1,1,False,True,False,False,False,False,5,AFRAM,Introductory survey of topics and problems in ...,150,Introduction to African American History
2,2,True,False,False,False,True,False,5,AFRAM,Introduction to various genres of African Amer...,214,Introduction African American Literature
3,3,True,False,False,False,False,False,5,AFRAM,Examines the history and theory of African Ame...,220,African American Film Studies
4,4,True,True,False,False,False,False,5,AFRAM,Survey of African Americans within the U.S. so...,246,African American Politics
5,5,True,True,False,False,False,False,5,AFRAM,Explores the structures and functioning of var...,260,African American Family
6,6,False,False,False,False,False,False,5,AFRAM,Instructs students in hermeneutical and sociol...,261,The African American Experience Through Litera...
7,7,True,True,False,False,False,False,5,AFRAM,Interdisciplinary study of period after World ...,270,The Jazz Age
8,8,True,True,False,False,False,False,5,AFRAM,"Reconstruction and its aftermath, the Agrarian...",272,History of the South Since the Civil War
9,9,False,True,False,False,False,False,5,AFRAM,Relates the deployment of political power with...,315,Black Identities and Political Power
10,10,True,False,False,False,True,False,5,AFRAM,Considers how generic forms and conventions ha...,318,Black Literary Genres
11,11,True,False,False,False,True,False,5,AFRAM,Character types of black women as represented ...,320,Black Women in Drama
12,12,True,True,False,False,False,False,5,AFRAM,"""Feminist Movement"" from early nineteenth cent...",321,History of African American Women and the Femi...
13,13,False,False,False,False,True,False,5,AFRAM,Focuses on cultural expressions created by peo...,330,"Music, Folklore, and Performance in Black Society"
14,14,True,False,False,False,False,False,5,AFRAM,Examines the politics and culture of the moder...,334,Civil Rights and Black Power in the United States
15,15,True,False,False,False,False,False,5,AFRAM,"Focuses on popular music, shifting formations ...",337,"Popular Music, Race, Identity, and Social Change"
16,16,True,False,False,False,True,False,5,AFRAM,Highlights Harlem Renaissance - 1912 through m...,340,The Harlem Renaissance: A Literary Study
17,17,False,False,False,False,False,False,5,AFRAM,"Draws on both multi-media and print sources, i...",350,Black Aesthetics
18,18,True,False,False,False,True,False,5,AFRAM,"Selected writings, novels, short stories, play...",358,African American Literature
19,19,False,True,False,False,False,False,5,AFRAM,Political ideologies and philosophies of pivot...,370,African American Political Thought
20,20,False,True,False,False,False,False,5,AFRAM,Historical continuity for changing relationshi...,437,Blacks in American Law
21,21,False,True,False,False,False,False,3,AFRAM,Topics in which students and faculty have deve...,498,Special Topics in African American Studies
22,22,False,False,False,False,False,False,1,AFRAM,Identification and investigation of the proble...,499,Independent Study and Research
23,23,True,True,False,False,False,False,5,AES,"Focusing on pre-Columbus era to 1970, students...",150,"In-Justice for All: Intersection of Race, Ethn..."
24,24,True,True,False,False,False,False,5,AES,Provides an introduction to the major theories...,151,"Identities, Cultures, and Power Across America..."
25,25,True,True,False,False,False,False,5,AES,Examines introductory studies of environmental...,211,Environmental Justice
26,26,True,False,False,False,False,False,5,AES,"Reviews selected texts by African American, Am...",212,Comparative American Ethnic Literature
27,27,False,True,False,False,False,False,5,AES,Racial integration in American institutions of...,250,Race in the American University
28,28,True,True,False,False,False,False,5,AES,"The intersection of race, class, and gender in...",322,"Gender, Race, and Class in Social Stratification"
29,29,False,True,False,False,False,False,5,AES,The experiences of racial minorities in the mi...,333,Race and Ethnicity in the U.S. Military
...,...,...,...,...,...,...,...,...,...,...,...,...
14567,14567,False,False,False,False,True,False,5,HONORS,Evolution of an idea or a discipline central t...,210,Humanities for Honors Students I
14568,14568,False,False,False,False,True,False,5,HONORS,Evolution of an idea or a discipline central t...,211,Humanities for Honors Students II
14569,14569,False,False,False,False,True,False,5,HONORS,Evolution of an idea or a discipline central t...,212,Humanities for Honors Students III
14570,14570,False,False,False,False,True,False,2,HONORS,Coursework drawn from interdisciplinary groups...,213,Honors Foreign Study I - Humanities
14571,14571,False,False,True,False,False,False,5,HONORS,Evolution of an idea or concept central to the...,220,Science for Honors Students I
14572,14572,False,False,True,False,False,False,5,HONORS,Evolution of an idea or concept central to the...,221,Science for Honors Students II
14573,14573,False,False,True,False,False,False,5,HONORS,Evolution of an idea or concept central to the...,222,Science for Honors Students III
14574,14574,False,False,True,False,False,False,2,HONORS,Coursework drawn from interdisciplinary groups...,223,Honors Foreign Study II - Natural Science
14575,14575,False,True,False,False,False,False,5,HONORS,"Development of an idea, concept, or institutio...",230,Social Science for Honors Students I
14576,14576,False,True,False,False,False,False,5,HONORS,"Development of an idea, concept, or institutio...",231,Social Science for Honors Students II
14577,14577,False,True,False,False,False,False,5,HONORS,"Development of an idea, concept, or institutio...",232,Social Science for Honors Students III
14578,14578,False,True,False,False,False,False,2,HONORS,Coursework drawn from interdisciplinary groups...,233,Honors Foreign Study III - Social Science
14579,14579,False,False,False,False,True,False,5,HONORS,"Evolution of an art form, an idea, or a discip...",240,Fine Arts for Honors Students I
14580,14580,False,False,False,False,True,False,5,HONORS,"Evolution of an art form, an idea, or a discip...",241,Fine Arts for Honors Students II
14581,14581,False,False,False,False,True,False,5,HONORS,"Evolution of an art form, an idea, or a discip...",242,Fine Arts for Honors Students III
14582,14582,False,False,False,False,False,False,5,HONORS,Investigates emerging topics of interest in th...,345,Interdisciplinary Writing Seminar
14583,14583,False,False,False,False,False,False,2,HONORS,Discussion of selected topics in a variety of ...,350,Honors Seminar
14584,14584,False,False,False,False,False,False,2,HONORS,"Develops ideas, concepts, or institutions that...",381,Honors Foreign Study IV
14585,14585,False,False,False,False,False,False,2,HONORS,"Develops ideas, concepts, or institutions that...",382,Honors Foreign Study V
14586,14586,False,False,False,False,False,False,2,HONORS,"Develops ideas, concepts, or institutions that...",383,Honors Foreign Study VI
14587,14587,False,False,False,False,False,False,2,HONORS,"Develops ideas, concepts, or institutions that...",384,Honors Foreign Study VII
14588,14588,False,False,False,False,False,False,5,HONORS,"Develops ideas, concepts, or institutions that...",391,Honors Interdisciplinary Study I
14589,14589,False,False,False,False,False,False,5,HONORS,"Develops ideas, concepts, or institutions that...",392,Honors Interdisciplinary Study II
14590,14590,False,False,False,False,False,False,5,HONORS,"Develops ideas, concepts, or institutions that...",393,Honors Interdisciplinary Study III
14591,14591,False,False,False,False,False,False,5,HONORS,"Develops ideas, concepts, or institutions that...",394,Honors Interdisciplinary Study IV
14592,14592,False,False,True,False,False,False,1,HONORS,Special courses drawn from interdisciplinary g...,396,Interdisciplinary Special Topics-Natural Science
14593,14593,False,True,False,False,False,False,1,HONORS,Special courses drawn from interdisciplinary g...,397,Interdisciplinary Special Topics-Social Science
14594,14594,False,False,False,False,True,False,1,HONORS,Special courses drawn from interdisciplinary g...,398,Interdisciplinary Special Topics-Humanities
14595,14595,False,False,False,False,False,False,1,HONORS,Allows students completing the Interdisciplina...,496,Integration of the Honors Core Curriculum
14596,14596,False,False,False,False,False,False,1,HONORS,Faculty supervised Honors independent study or...,499,Honors Independent Study or Research

In [102]:
courses[(courses['dept_abbrev'] == 'AFRAM') & (courses['course_number'] == 498)]

      Unnamed: 0   index dept_abbrev  course_number  course_credits
6582        6582  223435       AFRAM            498             3.0

In [107]:
dept_content.drop_duplicates(['dept_abbrev'], inplace =True)

In [147]:
courses.head()

,Unnamed: 0,index,dept_abbrev,course_number,course_credits,Title,Desc,INS,VLPA,DIV,W,QSR,NW
0,0,0,A A,210,4.0,Engineering Statics,Applies vector analysis to equilibrium of rigi...,0.0,0.0,0.0,0.0,0.0,1.0
3,3,194,A A,310,4.0,Orbital and Space Flight Mechanics,"Newton's law of gravitation. Two-body problem,...",0.0,0.0,0.0,0.0,0.0,0.0
4,4,258,A A,311,4.0,Atmospheric Flight Mechanics,"Applied aerodynamics, aircraft flight ""envelop...",0.0,0.0,0.0,0.0,0.0,0.0
5,5,322,A A,320,3.0,Aerospace Instrumentation,Hands-on laboratory experience for understandi...,0.0,0.0,0.0,0.0,0.0,0.0
6,6,386,A A,402,3.0,Viscous Fluid Mechanics,"Introduction to fluid mechanics, dimensional a...",0.0,0.0,0.0,0.0,0.0,0.0

In [150]:
courses.to_csv('./courses_temp.csv')

In [152]:
courses[courses['Title'] != ].shape

(12203, 13)

In [156]:
courses.dropna(inplace = True)

In [157]:
courses.to_csv('courses_r.csv')

In [161]:
students = pd.read_csv('students_r.csv')

In [162]:
students.head()

   Unnamed: 0 Major1  Major2 Major3    UQkey
0           0    SIS     NaN    NaN  1582283
1           1    LSJ   CL ST    NaN  1402365
2           2   CHEM  BIOCHM    NaN  1386886
3           3   ECON     NaN    NaN  1407986
4           4    M E     NaN    NaN  1493884

In [164]:
course_student = pd.read_csv('course_student_r.csv')

In [166]:
taken = pd.read_csv('taken_big.csv')

In [167]:
taken.head()

,Course,UQkey,Qtr,tran_yr,tran_qtr,dept_abbrev,course_number,section_id,course_credits,course_branch
0,A A 210A,1202184,20154,2015,4,A A,210,A,4.0,0
1,A A 210A,1305795,20154,2015,4,A A,210,A,4.0,0
2,A A 210A,1320212,20154,2015,4,A A,210,A,4.0,0
3,A A 210A,1334594,20154,2015,4,A A,210,A,4.0,0
4,A A 210A,1368752,20154,2015,4,A A,210,A,4.0,0

In [168]:
taken = taken.append(pd.read_csv('taken_small.csv'))

In [169]:
taken.head()

,Course,UQkey,Qtr,tran_yr,tran_qtr,dept_abbrev,course_number,section_id,course_credits,course_branch
0,A A 210A,1202184,20154,2015,4,A A,210,A,4.0,0
1,A A 210A,1305795,20154,2015,4,A A,210,A,4.0,0
2,A A 210A,1320212,20154,2015,4,A A,210,A,4.0,0
3,A A 210A,1334594,20154,2015,4,A A,210,A,4.0,0
4,A A 210A,1368752,20154,2015,4,A A,210,A,4.0,0

In [170]:
taken = taken.merge(courses, on=['dept_abbrev', 'course_number'])

In [172]:
taken.columns

Index(['Course', 'UQkey', 'Qtr', 'tran_yr', 'tran_qtr', 'dept_abbrev',
       'course_number', 'section_id', 'course_credits_x', 'course_branch',
       'Unnamed: 0', 'index', 'course_credits_y', 'Title', 'Desc', 'INS',
       'VLPA', 'DIV', 'W', 'QSR', 'NW'],
      dtype='object')

In [177]:
taken = taken[['UQkey', 'index']]

In [178]:
taken.to_csv('student_course_r.csv')

In [179]:
courses.head()

,Unnamed: 0,index,dept_abbrev,course_number,course_credits,Title,Desc,INS,VLPA,DIV,W,QSR,NW
0,0,0,A A,210,4.0,Engineering Statics,Applies vector analysis to equilibrium of rigi...,0.0,0.0,0.0,0.0,0.0,1.0
3,3,194,A A,310,4.0,Orbital and Space Flight Mechanics,"Newton's law of gravitation. Two-body problem,...",0.0,0.0,0.0,0.0,0.0,0.0
4,4,258,A A,311,4.0,Atmospheric Flight Mechanics,"Applied aerodynamics, aircraft flight ""envelop...",0.0,0.0,0.0,0.0,0.0,0.0
5,5,322,A A,320,3.0,Aerospace Instrumentation,Hands-on laboratory experience for understandi...,0.0,0.0,0.0,0.0,0.0,0.0
6,6,386,A A,402,3.0,Viscous Fluid Mechanics,"Introduction to fluid mechanics, dimensional a...",0.0,0.0,0.0,0.0,0.0,0.0

In [181]:
courses = courses.drop('Unnamed: 0', axis = 1)

In [4]:
courses.head()

,Unnamed: 0,index,dept_abbrev,course_number,course_credits,Title,Desc,INS,VLPA,DIV,W,QSR,NW
0,0,0,A A,210,4.0,Engineering Statics,Applies vector analysis to equilibrium of rigi...,0.0,0.0,0.0,0.0,0.0,1.0
1,3,194,A A,310,4.0,Orbital and Space Flight Mechanics,"Newton's law of gravitation. Two-body problem,...",0.0,0.0,0.0,0.0,0.0,0.0
2,4,258,A A,311,4.0,Atmospheric Flight Mechanics,"Applied aerodynamics, aircraft flight ""envelop...",0.0,0.0,0.0,0.0,0.0,0.0
3,5,322,A A,320,3.0,Aerospace Instrumentation,Hands-on laboratory experience for understandi...,0.0,0.0,0.0,0.0,0.0,0.0
4,6,386,A A,402,3.0,Viscous Fluid Mechanics,"Introduction to fluid mechanics, dimensional a...",0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
courses.drop('Unnamed: 0', axis = 1).to_csv('courses_r.csv', index = False)

In [9]:
student_course = pd.read_csv('student_course_r.csv')

In [18]:
student_ids = student_course.UQkey.unique()

In [19]:
student_course.columns

Index(['Unnamed: 0', 'UQkey', 'index'], dtype='object')

In [41]:
import numpy as np
sc_json = {}
for i in student_ids:
    sc_json[str(i)] = np.array(student_course[student_course['UQkey'] == i]['index']).tolist()

In [42]:
import json
json_dumps = json.dumps(sc_json)

In [23]:
courses[courses['index'] == 62685]

,index,dept_abbrev,course_number,course_credits,Title,Desc,INS,VLPA,DIV,W,QSR,NW
1679,62685,ARCTIC,400,3.0,Integrating Policy and Science in Arctic Studies,Introduces Arctic resources and access from ph...,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
with open('student_courselist.json', 'w') as f:
    f.write(json_dumps)

In [59]:
courses = pd.read_csv('students_r.csv')
courses.drop('Unnamed: 0', axis = 1, inplace =True)

In [60]:
courses._id.shape

(77910,)

In [61]:
courses._id.unique().shape

(77910,)

In [62]:
courses = courses.drop_duplicates(['_id'])

In [63]:
courses.to_csv('students_r.csv', index = False)

In [4]:
import pandas as pd
student_course = pd.read_csv('student_course_r.csv')
student_course.columns

Index(['Unnamed: 0', 'UQkey', 'index'], dtype='object')

In [68]:
sc1 = pd.read_csv('S_C1.csv')

In [69]:
sc2 = pd.read_csv('S_C2.csv')

In [70]:
sc = sc1.append(sc2, ignore_index = True)

In [89]:
sc.head()

  dept  number    UQkey
0  A A     210  1202184
1  A A     210  1334594
2  A A     210  1368752
3  A A     210  1384265
4  A A     210  1385870

In [88]:
df.head()

,DIV,INS,NW,QSR,VLPA,W,credits,dept,desc,number,title
0,True,True,False,False,False,False,5,AFRAM,"History, culture, religion, institutions, poli...",101,Introduction to African American Studies
1,False,True,False,False,False,False,5,AFRAM,Introductory survey of topics and problems in ...,150,Introduction to African American History
2,True,False,False,False,True,False,5,AFRAM,Introduction to various genres of African Amer...,214,Introduction African American Literature
3,True,False,False,False,False,False,5,AFRAM,Examines the history and theory of African Ame...,220,African American Film Studies
4,True,True,False,False,False,False,5,AFRAM,Survey of African Americans within the U.S. so...,246,African American Politics

In [83]:
sc = sc[['dept_abbrev', 'course_number', 'UQkey']]
sc.columns = ['dept', 'number', 'UQkey']

In [85]:
sc.dept = sc.dept.apply(str.strip)

In [110]:
sc.head()

  dept  number    UQkey     cid
0  A A     210  1202184  9086.0
1  A A     210  1334594  9086.0
2  A A     210  1368752  9086.0
3  A A     210  1384265  9086.0
4  A A     210  1385870  9086.0

In [111]:
df.head()

,DIV,INS,NW,QSR,VLPA,W,_id,course_credits,course_number,dept_abbrev,desc,title
0,true,true,false,false,false,false,0,5,101,AFRAM,"History, culture, religion, institutions, poli...",Introduction to African American Studies
1,false,true,false,false,false,false,1,5,150,AFRAM,Introductory survey of topics and problems in ...,Introduction to African American History
2,true,false,false,false,true,false,2,5,214,AFRAM,Introduction to various genres of African Amer...,Introduction African American Literature
3,true,false,false,false,false,false,3,5,220,AFRAM,Examines the history and theory of African Ame...,African American Film Studies
4,true,true,false,false,false,false,4,5,246,AFRAM,Survey of African Americans within the U.S. so...,African American Politics

In [101]:
sc.shape

(1544469, 4)

In [135]:
maj1 = pd.read_csv('major1.csv')
maj2 = pd.read_csv('major2.csv')
maj = maj1.append(maj2, ignore_index = True)
maj = maj[['UQkey', 'Major1', 'Major2', 'Major3']]
maj.columns = ['_id', 'Major1', 'Major2', 'Major3']
maj = maj.drop_duplicates('_id')
maj.to_csv('/Users/legend/Documents/node/recom/data/students_r.csv', index = False)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [130]:
import json
with open('student_course.json', 'w') as f:
    f.write(str(r))

In [107]:
count

55965

In [123]:
df.to_csv('courses_r.csv', index=True)

In [117]:
df.head()

,DIV,INS,NW,QSR,VLPA,W,_id,course_credits,course_number,dept_abbrev,desc,title
0,true,true,false,false,false,false,0,5,101,AFRAM,"History, culture, religion, institutions, poli...",Introduction to African American Studies
1,false,true,false,false,false,false,1,5,150,AFRAM,Introductory survey of topics and problems in ...,Introduction to African American History
2,true,false,false,false,true,false,2,5,214,AFRAM,Introduction to various genres of African Amer...,Introduction African American Literature
3,true,false,false,false,false,false,3,5,220,AFRAM,Examines the history and theory of African Ame...,African American Film Studies
4,true,true,false,false,false,false,4,5,246,AFRAM,Survey of African Americans within the U.S. so...,African American Politics

In [118]:
len(df._id)

14597

In [119]:
len(df._id.unique())

248

In [121]:
df = df.drop('_id', axis = 1)